{% extends 'WebtaxiMainBundle::parent.html.twig' %}

{% block content %}

    <h1>Mano kelionės</h1>

    <!-- Modal accept travel -->
    <div class="modal fade" id="acceptModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Uždaryti</span></button>
                    <h4 id="myModalLabel"><img src="http://webtaxi.dev/bundles/webtaximain/images/tick.png" class="modal-image"><span class="modal-title"></span></h4>
                </div>
                <div class="modal-body">
                    <span class="modal-message">

                    </span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Uždaryti</button>
                    <button type="button" class="btn btn-primary">Pavežėti</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal delete travel -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Uždaryti</span></button>
                    <h4 id="myModalLabel"><img src="http://webtaxi.dev/bundles/webtaximain/images/remove.png" class="modal-image"><span class="modal-title"></span></h4>
                </div>
                <div class="modal-body">
                    <span class="modal-message">

                    </span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Uždaryti</button>
                    <button type="button" class="btn btn-primary">Trinti</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal travel action info-error -->
    <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 id="myModalLabel"><img src="http://webtaxi.dev/bundles/webtaximain/images/alert.png" class="modal-image"><span class="modal-title"></span></h4>
                </div>
                <div class="modal-body">
                    <span class="modal-message">

                    </span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Uždaryti</button>
                </div>
            </div>
        </div>
    </div>


    <div class="table-responsive" id="travelsList">
        <table class="table">
            <thead>
            <tr id="travelTableFirstLine">
                <th></th>
                <th>Laikas</th>
                <th>Išvykimas</th>
                <th>Atvykimas</th>
                <th>Kaina</th>
                <th>Keleiviai</th>
                <th>Atstumas</th>
                <th>Pelningumas</th>
                <th>Su ...</th>
                <th></th>
            </tr>
            </thead>
            <tbody id="travelsTBody">

            <tr id="travelTableLastLine">

                <td colspan="9">
                    <a id="loadMore" href="#">
                        Įkelti dar
                    </a>
                    <div id="loadingMore">
                        <img src="{{ asset('bundles/webtaximain/images/load.gif') }}" />
                    </div>
                    <div id="noMoreToLoad">
                        Daugiau kelionių nėra
                    </div>
                </td>

            </tr>

            </tbody>
        </table>
    </div>

{% endblock %}


