{% extends 'WebtaxiMainBundle::parent.html.twig' %}

{% block content %}

<h1> MAP </h1>
    <div id="map-canvas"></div>
    <div>
        <label> Išvykimas </label>
        <input id="address" type="textbox" value="Vilnius">
        <input type="button" value="Rodyti" onclick="codeAddress()">
    </div>
    <div>
        <label> Atvykimas </label>
        <input id="address" type="textbox" value="Vilnius">
        <input type="button" value="Rodyti" onclick="codeAddress()">
    </div>
{% endblock %}