{% extends 'WebtaxiMainBundle::parent.html.twig' %}

{% block content %}

    <p>
        <label for="distance">Distance (km): </label>
        <input type="text" name="distance" id="distance" readonly="true" />
    </p>

    <div id="map-canvas"></div>
    <div>
        <label> Išvykimas </label>
        <input id="address" type="textbox" value="Vilnius">
        <input type="button" value="Rodyti" onclick="codeAddress()">
    </div>
    <div>
        <label> Atvykimas </label>
        <input id="dest_address" type="textbox" value="Vilnius">
        <input  type="button" value="Rodyti" onclick="codeAddress()">
    </div>
<div>  <input id="Kviesti" type="button" value="Kviesti" >  </div>


    <div>
        <ul>
            <li id="dropdown" class="dropdown"> <a href="#" data-toggle="dropdown" class="dropdown-toggle">Kuriomis dienomis vykstu<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox">Pirmadienis
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox">Antradienis
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox">Trečiadienis
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox">Ketvirtadienis
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox">Penktadienis
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox">Šeštadienis
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox">Sekmadienis
                            </label>
                        </div>
                    </li>
                </ul>
            </li>
    </div>


{% endblock %}