{% extends 'WebtaxiMainBundle::parent.html.twig' %}

{% block content %}

    <p>
        <label for="distance">Distance (km): </label>
        <input type="text" name="distance" id="distance" readonly="true" />
    </p>

    <div id="map-canvas"></div>
    <div>
        <label> Išvykimas </label>
        <input id="address" type="textbox" value="Vilnius">
        <input type="button" value="Rodyti" onclick="codeAddress()">
    </div>

    <div>
        <label> Atvykimas </label>
        <input id="dest_address" type="textbox" value="Vilnius">
        <input  type="button" value="Rodyti" onclick="codeAddress()">
    </div>

            <label> Laikas: nuo </label>
            <input id="timeFrom" type="textbox" value="">
            <label> iki </label>
            <input id="timeDue" type="textbox" value="">

    </div>

    <div>
        <label> Siūloma kaina </label>
        <input id="price" type="textbox" value="">
        <label> LT </label>
    </div>

<div>  <input id="Kviesti" type="button" value="Pateikti" >  </div>


    <div>
        <label> Išvykimas </label>
        <input id="start_lat" type="textbox" value="">
        <input id="start_lng" type="textbox" value="">
    </div>
    <div>
        <label> Atvykimas </label>
        <input id="dest_lat" type="textbox" value="">
        <input id="dest_lng" type="textbox" value="">
    </div>




{% endblock %}