{% trans_default_domain 'FOSUserBundle' %}

<h1>Tavo profilis <a id="update-btn" href="{{ path('fos_user_profile_edit') }}"><span class="label label-primary">Redaguoti</span></a></h1>

{% include "WebtaxiMainBundle:Profile:user_data.html.twig"%}
