#travelsList, #travelsList th {
  text-align: center;
}

#loadingMore, #noMoreToLoad {
  display: none;
}

#travelsList table tr#travelTableLastLine td a#loadMore {
  color: #000000 !important;
  font-weight: bold;
  text-decoration: none;
}

#travelsList table tr:not(#travelTableFirstLine):not(#travelTableLastLine):hover {
  background-color: #D3D3D3;
}

#travelsList table tr.myTravel {
  background-color: #f9ffe2;
}

#travelsList table tr.travelExpired {
  color: #d1c5d8;
}

#travelsList table tr.myTravel:hover {
  background-color: #f9ffb2 !important;
}

.ui-widget-header, .ui-state-default, .ui-button{
  background:#b9cd6d;
  border: 1px solid #b9cd6d;
  color: #FFFFFF;
  font-weight: bold;
}

.modal-image {
  margin-right: 3em;
}