#map-canvas_main {
  height: 100%;
  width: 100%;
  left: 0;
  position: absolute;
  top: 0;
  z-index: -1;
}

#transbox {
  display: inline-block;
  width: 300px;
  height: 400px;
  opacity: 0.4;
  border: 2px solid black;
  background-color: #000000;
  box-shadow: 10px 10px 5px #888888;
  border: 2px;
  border-color: black;
  }

.span2{
  background-color: #000000;
  opacity: 0.5;
}

.info{
  color: #ffffff;
  opacity: 1;
  text-shadow: 2px 2px 2px #D3D3D3;
}

 @media all {
   #fore-word-img {
     width: 650px;
     height: auto;
   }
   #fore-word-content {
     top: 90px;
     left: 280px;
     width: 340px;
     line-height: 170%;
     font-size: large;
   }
   #fore-word-logo {
     top:65px;
     left: 95px;
   }
   #join-us {
     margin-top: 40px;
   }
 }

 @media all and (max-width: 950px) {
   #fore-word-img {
     width: 500px;
     height: auto;
   }
   #fore-word-content {
     top: 60px;
     left: 225px;
     width: 240px;
     line-height: 130%;
   }
   #fore-word-logo {
     top: 50px;
     left: 85px;
   }
   #join-us {
     margin-top: 20px;
   }
   #doNotHaveAccount {
     font-size: medium;
   }
 }

 @media all and (max-width: 650px) {
   #fore-word-img {
     width: 450px;
     height: auto;
   }
   #fore-word-content {
     top: 70px;
     left: 190px;
     width: 240px;
     line-height: 90%;
     line-height: 115%;
     font-size: medium;
   }
   #fore-word-logo {
     top: 45px;
     left: 75px;
   }
   #join-us {
     margin-top: 20px;
   }
   #doNotHaveAccount {
     position: absolute;
     font-size: medium;
     top:200px;
     left:20px;
     background-color: rgba(0, 0, 0, 0.7);
     padding: 10px;
     -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
     border-radius: 10px;
   }
 }

 @media all and (max-width: 480px) {
   #fore-word-img {
     width: 370px;
     height: auto;
   }
   #fore-word-content {
     top: 50px;
     left: 155px;
     width: 200px;
     font-size: small;

   }
   #fore-word-logo {
     top: 30px;
     left: 50px;
   }
   #join-us {
     margin-top: 1px;
   }

   form#loginForm input[type='submit'].btn.btn-default.btn-lg {
     margin-top: 1px;
     font-size: small;
     padding: 5px 8px;
   }
 }

 #fore-word-img, #fore-word-content, #fore-word-logo {
   position: absolute;
 }

 #fore-word {
   position: relative;

   color: #ffffff;
   font-size: 100%;
   font-family: Arial, Helvetica, sans-serif;
 }

 #join-opportunities {
   text-align: center;
 }

 #join-opportunities ul {
   list-style: none;
   -webkit-padding-start: 0;
   padding: 0;
 }

 #join-opportunities ul li {
   display: inline;
   -webkit-padding-start: 0;
   padding: 0;
 }

 #join-opportunities ul li form {
   display: inline;
 }

 .infobox {
   border:2px solid black;
   margin-top: 8px;
   background:#333;
   color:#FFF;
   font-family:Arial, Helvetica, sans-serif;
   font-size:12px;
   padding: .5em 1em;
   -webkit-border-radius: 2px;
   -moz-border-radius: 2px;
   border-radius: 2px;
   text-shadow:0 -1px #000000;
   -webkit-box-shadow: 0 0  8px #000;
   box-shadow: 0 0 8px #000;
 }