 #map-canvas_main {
    height: 100%;
    width: 100%;
    left: 0;
    position: absolute;
    top: 0;
    z-index: -1;
  }

#transbox {
  display: inline-block;
  width: 300px;
  height: 400px;
  opacity: 0.4;
  border: 2px solid black;
  background-color: #000000;
  box-shadow: 10px 10px 5px #888888;
  border: 2px;
  border-color: black;
  }

.span2{
  background-color: #000000;
  opacity: 0.5;
}

.info{
  color: #ffffff;
  opacity: 1;
  text-shadow: 2px 2px 2px #D3D3D3;
}

 .infobox {
   border:2px solid black;
   margin-top: 8px;
   background:#333;
   color:#FFF;
   font-family:Arial, Helvetica, sans-serif;
   font-size:12px;
   padding: .5em 1em;
   -webkit-border-radius: 2px;
   -moz-border-radius: 2px;
   border-radius: 2px;
   text-shadow:0 -1px #000000;
   -webkit-box-shadow: 0 0  8px #000;
   box-shadow: 0 0 8px #000;
 }