body {
  background: url("../bundles/webtaximain/images/bg-body.jpg") repeat;
  height: 100%;
}

form#userSettings div.cell {
  display: inline-block;
}

input[type="text"], input[type="password"], input[type="email"] {
  color: black;
  width: auto !important;
}

.input-group-form {
  @extend .input-group;
  margin-bottom: 5px;
}

.invisible-item {
  visibility: hidden;
}

a {
  color: yellow !important;
}

.navbar-inverse a {
  color: #777 !important;
}

.navbar-inverse a:active, .navbar-inverse a:hover {
  color: #fff !important;
  text-decoration: none !important;
}

#container {
  background-color: rgba(0, 0, 0, 0.2);
  height: 100%;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  box-shadow: 2px 2px 1px #888888;
  -moz-box-shadow: 2px 2px 1px #888888;
  -webkit-box-shadow: 2px 2px 1px #888888;
  padding-top: 1em;
  padding-bottom: 1em;
}

.navbar.navbar-fixed-bottom.navbar-default {
  background-color: black;
  height: 2em;
}

ul#reviewContainer {
  text-align: center;
  display: block;
  list-style: none;
  -webkit-padding: 0;
  padding: 0;
}

ul#reviewContainer li {
  display: inline;
  -webkit-padding: 0;
  padding: 0;
}
#reviewCountLeftSymbols, #reviewCountLeftSymbolsValue {
 color: #5e5e5e;
}
