table#profileInfo , table#profileInfo tr, table#profileInfo tr td {
  border: 0px;
}

table#profileInfo tr td {
  padding-right: 1em;
  padding-top: 1em;
}

table#profileInfo tr td:first-child {
  font-weight: bold;
}

.inline-group{
  display: inline;
  margin: 0;
}

#profile-container{
  margin: 0 !important;
}

.label{
  font-size: 35%;
  vertical-align: super;
}

#update-btn:hover{
  text-decoration: none !important;
}

.formlbl{
  width: 120px;
}