{% extends 'WebtaxiMainBundle::parent.html.twig' %}


{% block content %}
<h1>Settings</h1>

    <form>
        <input type="text" name="userFirstName" value="{{ userFirstName }}" /><br>
        <input type="text" name="userLastName" value="{{ userLastName }}" /><br>

    </form>
{% endblock %}


