{% extends 'WebtaxiMainBundle::grandparent.html.twig' %}

{% block contentParent %}

    <div class="container">
        <div id="map-canvas_main" ></div>

        <div id="fore-word">
            <img src="{{ asset('bundles/webtaximain/images/foreword-bg.png') }}" id="fore-word-img" >
            <img src="{{ asset('bundles/webtaximain/images/LOGO.png') }}" id="fore-word-logo" >
            <div id="fore-word-content">
                <span>Ieškai pakeleivių?</span><br>
                <span>Ieškai vairuotojo?</span><br>
                <span>Mėgsti riziką?</span>
                <br>
                <div id="join-us">Sistema nemokama. Prisijunk prie mūsų!</div>
                <br>
                <div id="join-opportunities">
                    <ul>
                        <li>
                            <input type="button" class="btn" value="Jungtis" onclick="window.location.href='{{ path('fos_user_security_login') }}'">
                        </li>
                        <li>
                            <input type="button" class="btn btn-default" value="Registruotis" onclick="window.location.href='{{ path('fos_user_registration_register') }}'">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}